src/cached_results/*
tmp/*
!tmp/.empty_marker


# Setting the datasets
dataset/data/*
!dataset/data/dafnybench_all_mutants.tar.gz
!dataset/data/dafnybench_original_can_run.tar.gz
!dataset/data/sample_original_can_run.tar.gz
!dataset/data/dafnytestgen_tests_can_run.tar.gz
!dataset/data/pos_test.tar.gz


# Byte-compiled / optimized / DLL files
build_output/
__pycache__/
*.pyc
*.pyd
*.so
bin/
obj/
.venv
venv/
env/

# MacOS
.DS_Store
*/.DS_Store