[submodule "mutdafny"]
	path = mutdafny
	url = git@github.com:MutDafny/mutdafny.git
[submodule "dafny"]
	path = dafny
	url = https://github.com/dafny-lang/dafny.git
[submodule "dafnybench"]
	path = dafnybench
	url = https://github.com/sun-wendy/DafnyBench.git
[submodule "SpecTestGenerator"]
	path = SpecTestGenerator
	url = git@github.com:VeriFixer/SpecTestGenerator.git
[submodule "DafnyTestGen"]
	path = DafnyTestGen
	url = git@github.com:ricostynha1/DafnyTestGen.git
