src/cached_results/*
run_artifacts/*
!run_artifacts/.empty_marker


# Setting the datasets
datasets/*
!datasets/dafnybench_all_mutants.tar.gz
!datasets/dafnybench_original_can_run.tar.gz
!datasets/sample_original_can_run.tar.gz
!datasets/dafnytestgen_tests_can_run.tar.gz
!datasets/pos_test.tar.gz


# Byte-compiled / optimized / DLL files
build_output/
__pycache__/
*.pyc
*.pyd
*.so
bin/
obj/
.venv
venv/
env/
